* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    background-color: black;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 115, 255, 0.242), rgba(0, 0, 0, 0.5)), url(../img/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 745px;

    & .banner-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        & img {
            background-color: rgba(0, 0, 0, 0.259);
            border-radius: 100%;
            padding: 15px;
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        & h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 40px;
            background-image: linear-gradient(rgb(0, 204, 255), rgb(0, 157, 255));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        & p {
            color: rgba(221, 221, 221, 0.732);
            font-size: 20px;
            white-space: pre-line;
            text-align: center;
        }

        & button {
            width: 280px;
            height: 50px;
            color: transparent;
            border: 2px solid transparent;
            border-image: linear-gradient(rgb(0, 204, 255), rgb(0, 157, 255)) 1;
            background: linear-gradient(rgb(0, 204, 255), rgb(0, 157, 255));
            background-clip: text;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 15px;
            letter-spacing: 3px;
            transition: background-color 0.3s ease;

            &:hover {
                background: rgba(169, 169, 169, 0.067);
                color: rgb(44, 171, 251);
            }
        }
    }
}

.course-content {
    background-color: black;
    margin-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    & h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        background-image: linear-gradient(rgb(0, 204, 255), rgb(0, 157, 255));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 3px;
    }

    & p {
        text-align: center;
        white-space: pre-line;
    }

    .module {
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 18px;
        background-color: rgb(34, 30, 30);
        border-radius: 30px;
        padding: 13px;
        margin-bottom: 30px;
        border: 1px solid rgb(0, 204, 255);
        box-shadow: 10px 10px 10px inset rgba(0, 0, 0, 0.408);

        & span {
            color: rgb(0, 204, 255);
        }
    }
}

.transform-world {
    background-image: url('../img/woman-code.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    margin-top: 210px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & p {
        margin-left: 150px;
        font-size: 30px;
        text-shadow: 2px 2px rgb(0, 204, 255);
    }
}

.professional-challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 125px;

    & h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        background-image: linear-gradient(rgb(0, 204, 255), rgb(0, 157, 255));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 3px;
    }

    & p {
        white-space: pre-line;
        text-align: center;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(0, 204, 255), rgb(0, 157, 255));
    margin-top: 10px;
    padding: 30px;

    & a {
        text-decoration: none;

        &:hover {
            color: #E5E044
        }
    }
}